* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --header-height: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-x-5 {
  gap: 5rem;
}

.gap-y-2 {
  gap: 2rem;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 2500px;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn-primary {
  background-color: #1434e6;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  color: #1434e6;
}
